@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nohemiBlack;
  src: url(/assets/fonts/Nohemi-Black.ttf);
}

@font-face {
  font-family: nohemiExtraBold;
  src: url(/assets/fonts/Nohemi-ExtraBold.ttf);
}

@font-face {
  font-family: nohemiBold;
  src: url(/assets/fonts/Nohemi-Bold.ttf);
}

@font-face {
  font-family: nohemiSemiBold;
  src: url(/assets/fonts/Nohemi-SemiBold.ttf);
}

@font-face {
  font-family: nohemiMedium;
  src: url(/assets/fonts/Nohemi-Medium.ttf);
}

@font-face {
  font-family: nohemiRegular;
  src: url(/assets/fonts/Nohemi-Regular.ttf);
}

@font-face {
  font-family: nohemiLight;
  src: url(/assets/fonts/Nohemi-Light.ttf);
}

@font-face {
  font-family: nohemiExtraLight;
  src: url(/assets/fonts/Nohemi-ExtraLight.ttf);
}

@font-face {
  font-family: nohemiThin;
  src: url(/assets/fonts/Nohemi-Thin.ttf);
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #2dbf19;
  }
  100% {
    box-shadow: 0.5px 0.5px 10px 1px #2dbf19, -0.5px -0.5px 10px 1px #2dbf19;
  }
}

:root {
  --doc-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh; 
  height: var(--doc-height);
}

body {
  color: white;
  width: 100vw;
  overflow-x: hidden;
  user-select: none;
  background-color: black;
}

#bgVideoTrigger {
  height: var(--doc-height);
}

.circle{
  width: 500px;
  height: 500px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#eyescale {
  height: calc(var(--doc-height) * 2);
}

#interWater {
  height: var(--doc-height);
}

#landing {
  height: calc(var(--doc-height) * 8);
}

.landingDivHeight {
  height: var(--doc-height);
}

section {
  overflow-x: hidden;
  height: var(--doc-height);
}

#shadowAnimation {
  animation: pulse 1.2s alternate infinite;
}

.stretch {
  font-stretch: ultra-expanded;
}

#work {
  height: calc(var(--doc-height) * 4)
}

#workPin {
  height: var(--doc-height)
}

